#main-div{ 
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
#main-div h2{
	color: #0400ff;
    text-transform: capitalize;
}
#head h1{
	margin: auto;
    width: 276px;
    color: #192250;
    padding-top: 25px;
}
#head{
	background-color: #00baff;
    height: 100px;
}
form{
	display: flex;
    justify-content: space-around;
}
body{
	background-color: #6881f3;
}