<div id="all-users">
<h2>All Users Not Your Friend</h2>
<% @users.each do |u|%>
<%if(u!=current_user && Friendship.find_by(user_id:current_user.id,friend_id:u.id)==nil)%>
<p><%= u.email%> &nbsp; &nbsp; <button id="friend-<%= u.id %>" class="Users-button"><%= link_to "Add Friend", AddFriend_path(u.email), remote: true, method: :post %></button></p>
<%end%>
<%end%>
</div>